In [3]:
from pandas import Series, DataFrame
import pandas as pd
import re

df = pd.read_csv('NYC_Restaurants.csv',dtype=unicode)

In [35]:
#Q1 Create a unique name for each restaurant

In [36]:
#approach: added a new column that concatenated the DBA, BUILDING, STREET,\
#columns with spaces in between

In [4]:
df['RESTAURANT']=df['DBA']+" "+df['BUILDING']+" "+df['STREET']+" "+df["ZIPCODE"]
print df['RESTAURANT'][:10]

0                    WENDY'S 469 FLATBUSH AVENUE 11225
1                    WENDY'S 469 FLATBUSH AVENUE 11225
2                    WENDY'S 469 FLATBUSH AVENUE 11225
3                    WENDY'S 469 FLATBUSH AVENUE 11225
4                    WENDY'S 469 FLATBUSH AVENUE 11225
5               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
6               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
7               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
8               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
9    BRUNOS ON THE BOULEVARD 8825 ASTORIA BOULEVARD...
Name: RESTAURANT, dtype: object

In [38]:
#Q2 How many restaurants are included in the data?

In [39]:
#approach: created a unique restaurants dataframe and deleted all duplicates\
#in the RESTAURANT column
#used the len function to find the number of records in the uniqueResturants\
#data frame

In [52]:
uniqueRestaurants = df.drop_duplicates(subset='RESTAURANT')
print "Number of restaurants:", len(uniqueRestaurants)

Number of restaurants: 10114

In [41]:
#Q3 How many chains are there?

In [42]:
#approach: created a data frame with a value count of the 'DBA' column
#used the unique restaurants dataframe so that repeat offenders wouldn't be \
#counted twice
#created a mask for when the value count was greater than or equal to 2
#applied the mask to the list of unique restaurants
#found the length (len) of the new dataframe

In [22]:
#create dataframe with the count of each restaurant of a chain
numberOfEach = uniqueRestaurants['DBA'].value_counts()
#create a mask to find resturants with 2 or more locations (chains)
chainMask = (numberOfEach >= 2)
chains = numberOfEach[chainMask]
print "Number of chains:", len(chains)

Number of chains: 368

In [ ]:
#Q4 Plot a bar graph of the top 20 most popular chains?

In [23]:
#approach: take the chains data frame and create a bar plot of the 
# top 20 chains, which would be the ones with highest value counts
#import %pylab inline to show bar plot

In [64]:
%pylab inline
top20_chains = chains[:20]
#top20_chains.plot(kind='bar')
print sum(chains)

Populating the interactive namespace from numpy and matplotlib
1666

In [24]:
#Q5 What fraction of all restaurants are chains?

In [63]:
#approach: we need the total number of restaurants and the total 
#number of restaurant in chains  restaurants in chains / 
#total number of restaurants

In [66]:
percentage_of_chains = float(sum(chains))/float(len(uniqueRestaurants))
print 'Fraction of restaurants that are chains '+ "%.2f" % float(percentage_of_chains *100) + "%"

Fraction of restaurants that are chains 16.47%