In [34]:
from pandas import Series, DataFrame
import pandas as pd
import re

df = pd.read_csv('NYC_Restaurants.csv',dtype=unicode)

In [35]:
#Q1 Create a unique name for each restaurant

In [36]:
#approach: added a new column that concatenated the DBA, BUILDING, STREET,\
#columns with spaces in between

In [37]:
df['RESTAURANT']=df['DBA']+" "+df['BUILDING']+" "+df['STREET']+" "+df["ZIPCODE"]
print df['RESTAURANT'][:10]

0                    WENDY'S 469 FLATBUSH AVENUE 11225
1                    WENDY'S 469 FLATBUSH AVENUE 11225
2                    WENDY'S 469 FLATBUSH AVENUE 11225
3                    WENDY'S 469 FLATBUSH AVENUE 11225
4                    WENDY'S 469 FLATBUSH AVENUE 11225
5               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
6               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
7               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
8               TOV KOSHER KITCHEN 97-22 63 ROAD 11374
9    BRUNOS ON THE BOULEVARD 8825 ASTORIA BOULEVARD...
Name: RESTAURANT, dtype: object

In [38]:
#Q2 How many restaurants are included in the data?

In [39]:
#approach: created a unique restaurants dataframe and deleted all duplicates\
#in the RESTAURANT column
#used the len function to find the number of records in the uniqueResturants\
#data frame

In [40]:
uniqueRestaurants = df.drop_duplicates(subset='RESTAURANT')
print "Number of restaurants:", len(uniqueRestaurants)

Number of restaurants: 10114

In [41]:
#Q3 How many chains are there?

In [42]:
#approach: created a data frame with a value count of the 'DBA' column
#used the unique restaurants dataframe so that repeat offenders wouldn't be \
#counted twice
#created a mask for when the value count was greater than or equal to 2
#applied the mask to the list of unique restaurants
#found the length (len) of the new dataframe

In [43]:
#create dataframe with the count of each restaurant of a chain
numberOfEach = uniqueRestaurants['DBA'].value_counts()
#create a mask to find resturants with 2 or more locations (chains)
chainMask = (numberOfEach >= 2)
chains = numberOfEach[chainMask]
print "Number of chains:", len(chains)

Number of chains: 368